#######<[ ADDITIONS TO BASE GITIGNORE ]>######
tmp.*
local.*
# 

# MacOS stuff
.DS_Store

# VSCode stuff
.vscode/
##############################################

# generated libs
*.lib

# tmp folders
**/tmp/*

# archives
*.zip
