name: Prepare a release

on:
  push:
    tags:
      - '*'

jobs:
  release:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8.10
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install electronic-package-descriptor-by-sporniket
        python -m pip install electronic-symbol-generator-for-cad-by-sporniket
    
    - name: Validate
      run: make all
      
    - name: Version suffix
      run: echo "version=$(echo "${{ github.ref_name }}" | cut -c 2-)" >> $env:GITHUB_OUTPUT
      id: suffix
    
    - name : Pack
      run: ./build-release.bash ${{ steps.suffix.outputs.version }}
  
    - name: Init release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: true
        prerelease: false
        release_name: Version ${{ steps.suffix.outputs.version }}
        tag_name: ${{ github.ref }}
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Upload release archive
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./kicad-symbols-generated-${{ steps.suffix.outputs.version }}.zip
        asset_name: kicad-symbols-generated-${{ steps.suffix.outputs.version }}.zip
        asset_content_type: application/zip
      env:
        GITHUB_TOKEN: ${{ github.token }}
